### 지도학습

In [1]:
#### 분류 - 다항분류 (3개이상)

In [2]:
import pandas as pd

In [3]:
df_TFD = pd.read_csv('../../../datasets/TitanicFromDisaster_train.csv')
df_TFD[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

#### 과정
- 1)전처리 - 2)정형화 - 3)모델 교육 후 - 4)평가 서비스

##### 1)  전처리
- 목표변수 : Pclass

In [5]:
df_TFD.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
##우리가 쓸 것. Survived/Age/ 추출

In [7]:
df_TFD_extract = df_TFD[['Survived', 'Pclass', 'Age', 'Fare']]
df_TFD_extract.isnull().sum() # null값 확인

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [8]:
df_TFD_extract_preprocess = df_TFD_extract.dropna() #drop 시킨 후  변수 담기.
df_TFD_extract_preprocess[:2] # 해당 변수  2개만 찍어보기.

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833

In [9]:
#정형화시키기

In [12]:
df_TFD_extract_preprocess['Pclass'].value_counts(3)

3    0.497199
1    0.260504
2    0.242297
Name: Pclass, dtype: float64

### 1. 정형화 단계  
- 목표변수와 설명변수 나누기

In [13]:
# target_train = 성능을 높이기 위해 사용 
target_train = df_TFD_extract_preprocess['Pclass'] # pclass (목표변수) 확인하기 
features_train = df_TFD_extract_preprocess.drop(columns=['Pclass']) #Pclass 만 빠져잇는 (설명변수)를 만들 수 있음 
target_train.shape, features_train.shape

((714,), (714, 3))

### 2. 모델학습[TREE]

In [14]:
#TREE를 분기하듯이, 마지막 가지 끝에 열매(목표변수)를 달기. 
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(features_train, target_train) # 모델훈련은 fit으로 진행.

DecisionTreeClassifier()

In [18]:
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree

In [20]:
features_train.columns.to_list()

['Survived', 'Age', 'Fare']

In [24]:
#%matplotlib tk

In [34]:
#plot_tree(model, feature_names=features_train.columns.to_list()) # 수치와함께 그래프 표시 
plt.figure(figsize=(55,30)) #w정해진사이즈를 벗어나게 하려면 figsize=
plot_tree(model, feature_names=features_train.columns.to_list(), filled=True) # 옵션 
plt.show()

### 3. 평가

In [16]:
#내가 낸 답안지 VS 실제 답 비교 
target_predict = model.predict(features_train)
target_predict.shape

(714,)

### 4. score 확인

In [17]:
# 1.0 = 100% 센트로 해당 학생은 성적이 좋음. 
from sklearn.metrics import accuracy_score
accuracy_score(target_train,target_predict)

1.0