In [1]:
import pandas as pd

## 병합 ( concat판다스)

In [4]:
# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 'A_2', 3]}, index=[0, 1, 2])
df2 = pd.DataFrame({'B': [4, 'B_5', 6]}, index=[3, 4, 5])

In [7]:
df1  #출력 1/A_2/3

     A
0    1
1  A_2
2    3

In [6]:
df2  #출력 3/B_5/6

     B
3    4
4  B_5
5    6

In [8]:
pd.concat([df1, df2] ,axis=1) #numpy는 concatenate (1. 행단위 옆으로 )/선조치 필요

     A    B
0    1  NaN
1  A_2  NaN
2    3  NaN
3  NaN    4
4  NaN  B_5
5  NaN    6

In [9]:
df1.count(), df2.count() # a 3개 =  b 3개

(A    3
 dtype: int64,
 B    3
 dtype: int64)

In [14]:
df1_reset = df1.reset_index(drop=True)

In [15]:
df2_reset = df2.reset_index(drop=True) # index 칼럼이 사라짐.

In [20]:
pd.concat([df1_reset, df2_reset], axis=1)

     A    B
0    1    4
1  A_2  B_5
2    3    6

### OneHotEncoder